@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #FFFDF5;
    color: #0F0F0F;
    font-family: "Inter", sans-serif;
  }
}
